:root {
  --widthDate: 10vh;
  --widthSmallScreenDate: 5vh;
}

.listItem {
  width: 90%;
  height: 6rem;
  display: flex;
  border-radius: 20px;
  align-items: center;
  color: white;
  overflow: hidden;
  position: relative;
  background-color: rgb(37, 37, 37);
}

.listItem__title {
  position: absolute;
  top: 10px;
  left: calc(var(--widthDate) + 50px);
}

.listItem__price {
  position: absolute;
  left: calc(var(--widthDate) + 50px);
  bottom: 10px;
}

.listItem__price span {
  padding-left: 5px;
  font-size: 20px;
}

.listItem__btn,
.listItem__editBtn {
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  background-color: rgb(99, 2, 2);
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  transition: 0.5s;
}

.listItem__editBtn {
  background-color: rgb(125, 125, 0);
  right: 5rem;
}

.listItem__editBtn:hover {
  background-color: rgb(200, 200, 0);
}

.listItem__btn:hover {
  background-color: red;
}

.modal__p {
  padding: 20px;
  color: white;
}

.modal__div {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.modal__closeBtn,
.modal__deleteBtn {
  height: 2.5rem;
  width: 5rem;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  color: white;
}

.modal__closeBtn {
  background-color: gray;
}

.modal__closeBtn:hover {
  background-color: limegreen;
}

.modal__deleteBtn {
  background-color: rgb(156, 14, 42);
}

.modal__deleteBtn:hover {
  background-color: red;
}

.modal__selectedItem {
  color: red;
}

.listItem__editBtn:disabled {
  background-color: rgb(125, 125, 0);
}

.listItem__editBtn:disabled:hover {
  background-color: rgb(125, 125, 0);
  cursor: auto;
}

.listItem__btn:disabled {
  background-color: rgb(99, 2, 2);
}

.listItem__btn:disabled:hover {
  background-color: rgb(99, 2, 2);
  cursor: auto;
}

@media (max-width: 600px) {
  .listItem__title {
    font-size: 18px;
    left: calc(var(--widthSmallScreenDate) + 50px);
  }
  .listItem__price {
    font-size: 17px;
    left: calc(var(--widthSmallScreenDate) + 50px);
  }
  .listItem__price span{
    font-size: 17px;
  }
  .listItem__btn,
  .listItem__editBtn {
    width: 45px;
    height: 45px;
    bottom: 0.5rem;
    right: 0.5rem;
  }
  .listItem__editBtn {
    right: 3.5rem;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
}
