.list {
  width: 60%;
  margin: 0 auto;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.pageActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.pageActionsInvisible {
  visibility: hidden;
}

.pageNumber {
  color: white;
}

.moreBtn {
  margin: 3rem 0;
  width: 8rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #109977;
  color: white;
  transition: 0.5s;
}

:disabled {
  background-color: #003c2d;
}

:disabled:hover {
  background-color: #003c2d;
  cursor: not-allowed;
}
