.main {
  width: 100%;
  min-height: 100vh;
}

.section {
  width: 100%;
  min-height: 60vh;
  position: relative;
  margin-top: 10rem;
}

.total {
  text-align: center;
  padding: 20px 0;
  color: white;
  width: 80%;
  margin: 10px auto 0 auto;
  font-size: 25px;
}

.total__span {
  padding-left: 5px;
  color: red;
}

.total__span2 {
  padding-left: 5px;
  color: limegreen;
}

.options {
  position: relative;
  top: 5rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.modalOpenBtn {
  position: relative;
  border: none;
  height: 3rem;
  width: 8rem;
  border-radius: 15px;
  left: 20%;
  cursor: pointer;
  background-color: #18ffbb;
}

.modalOpenBtn span {
  padding-left: 5px;
  font-weight: bolder;
}

.modalOpenBtn:hover {
  background-color: limegreen;
}

@media (max-width: 600px) {
  .total {
    margin: 50px auto 0 auto;
  }

  .modalOpenBtn {
    left: 0;
  }

  .options {
    flex-direction: column;
    width: 100%;
    gap: 3rem;
  }
}
