.filter {
  width: 13rem;
  height: 2rem;
  position: relative;
  left: calc(75% - 15rem);
}

.filterSummaries {
  width: 13rem;
  height: 2rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.filter label,
.filterSummaries label {
  color: white;
}

.filter select,
.filterSummaries select {
  text-align: center;
  margin-left: 15px;
  border: none;
  border-radius: 20px;
  background-color: #18ffbb;
  height: 100%;
  width: 5rem;
}

.filter select:focus,
.filterSummaries select:focus {
  outline: none;
}

.filter select option,
.filterSummaries select option {
  background-color: rgb(70, 70, 70);
  color: white;
}
