.filter {
  width: 13rem;
  height: 2rem;
  position: relative;
  left: calc(75% - 10rem);
  top: 5rem;
}

.filter label {
  color: white;
}

.filter select {
  text-align: center;
  margin-left: 15px;
  border: none;
  border-radius: 20px;
  background-color: #18ffbb;
  height: 100%;
  width: 5rem;
}

.filter select:focus {
  outline: none;
}

.filter select option {
  background-color: rgb(70, 70, 70);
  color: white;
}
