.box {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: rgb(20, 20, 20);
}

.login {
  width: 30%;
  min-height: 27rem;
  background-color: rgb(37, 37, 37);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.login h2 {
  text-align: center;
  margin: 30px 0;
}

.loginForm,
.field,
.actions {
  display: flex;
  flex-direction: column;
}

.field input {
  border: none;
  padding-left: 10px;
  color: white;
  width: 80%;
  height: 2.2rem;
  margin: 0 auto 10px auto;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(70, 70, 70);
  transition: 0.5s;
}

::placeholder {
  color: rgb(130, 130, 130);
}

.field label {
  font-size: 16px;
  margin: 10px 0 10px 10%;
}

.loginBtn {
  width: 50%;
  margin: 50px auto 20px auto;
  height: 2rem;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  background-color: #109977;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.loginBtn:hover {
  background-color: #15d79d;
}

.signupBtn {
  margin: 0 auto;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.signupBtn:hover {
  color: red;
}

.field input:focus {
  font-size: 14px;
}

.textError {
  font-size: 15px;
  color: red;
  background-color: rgb(37, 37, 37);
  margin-left: 10%;
}

.field .inputError {
  background-color: rgba(118, 2, 2, 0.427);
}
