.section{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(20, 20, 20);
}

.title{
  text-align: center;
  padding: 20px 0;
  color: white;
  width: 80%;
  margin: 10px auto 0 auto;
  font-size: 25px;
}