.filter {
  margin-top: 50px;
}

.section {
  min-height: 10rem;
  width: 75%;
  margin: 10rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}

.section div {
  width: 20%;
}

.section div p {
  text-align: center;
}

.box {
  display: block;
  text-align: center;
  margin: 20px;
  padding: 10px 0;
  border-radius: 20px;
  background-color: rgb(37, 37, 37);
}

.box1 {
  color: red;
}

.box2 {
  color: yellow;
}

.box3 {
  color: limegreen;
}

@media (max-width: 600px) {
  .section {
    flex-direction: column;
    width: 90%;
    margin: 5rem auto 0 auto;
  }

  .section div {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .section {
    flex-direction: column;
    width: 70%;
    margin: 5rem auto 0 auto;
  }

  .section div {
    width: 100%;
  }
}
