.dateSection{
    background-color: #A61651;
    position: absolute;
    left: 1rem;
    height: 85%;
    width: 11vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}