.navbar {
  background-color: #19222a;
  width: 15rem;
  height: 100vh;
  position: fixed;
}

.navbar__h2 {
  background-color: #003e43;
  color: white;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
}

.navbar__list {
  background-color: #19222a;
  list-style-type: none;
}

.navbar__list__elem {
  background-color: #19222a;
  height: 15vh;
  width: 100%;
  line-height: 15vh;
  padding-left: 2rem;
  cursor: pointer;
  font-size: 20px;
}

.navbar__list__elem__link{
  display: block;
  height: 15vh;
  width: 100%;
  color: white;
  text-decoration: none;
}

.active {
  background-color: #283643;
}

.navbar__list__elem:hover {
  background-color: #283643;
}

.navbar__btn {
  font-size: 15px;
  border-radius: 10px;
  background-color: #003e43;
  width: 5rem;
  height: 3rem;
  border: none;
  color: white;
  cursor: pointer;
  position: relative;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
}

.navbar__btn:hover {
  background-color: #02767e;
  box-shadow: 0 0 5px 5px #02767e;
}