:root {
  --bgc: linear-gradient(
    34deg,
    rgba(255, 0, 224, 1) 0%,
    rgba(108, 34, 187, 1) 50%,
    rgba(0, 136, 255, 1) 100%
  );
  --primaryColor: rgba(0, 136, 255, 1);
  --secondaryColor: rgba(108, 34, 187, 1);
  --tertiaryColor: rgba(255, 0, 224, 1);
}

.btn {
  background-image: var(--bgc);
  font-size: 15px;
  border-radius: 10px;
  padding: 15px 25px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 1s;
}

.btn:hover {
  box-shadow: 10px -10px 25px 0px var(--primaryColor),
    10px 10px 25px 0px var(--secondaryColor),
    -10px 10px 25px 0px var(--tertiaryColor),
    -10px -10px 25px 0px var(--secondaryColor);
}
