@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  background-color: #0f1111 !important;
  -webkit-box-shadow: 0 0 0px 1000px #0f1111 inset !important;
  -webkit-text-fill-color: #fff !important;
  outline: 2px solid #0f1111;
  outline-offset: -1px;
  border-radius: 1.5rem !important;
  caret-color: #ffffff !important;
}

input:-webkit-autofill:focus {
  outline: 1px solid white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #008F5C;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgb(43, 43, 43);
}