span[data-span="animation"] {
  animation: loading 2s linear infinite;
  animation-fill-mode: both;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  80%,
  100% {
    transform: scale(0);
  }
}
